<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dirFirst" value ="E:\temp\PicCheck\"/>
    <!-- <add key="dirSecond" value ="C:\users\alan\videos\"/>  -->
		<add key="dirsecond" value="D:\wwwroot\Images\Anniversaries\Fresno55thAnni\"/>   
  
    <add key="batchFileOutputPath" value="D:\wwwroot\Images\"/>
  </appSettings>
</configuration>